.container {
  width: 1200px;
  margin: auto;
}

.button-back {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.button-back:hover {
  cursor: pointer;
}

table {
  margin-bottom: 200px;
}

td {
  padding: 10px;
  border: 1px solid rgb(175, 145, 117);
  padding: 15px;
}

th {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.img {
  display: flex;
  justify-content: space-around;
}
