.container {
    width: 1200px;
    padding: 20px;
}

.main-content {
    min-height: 70vh;
}

.users {
    margin-top: 50px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

table {
    margin-top: 50px;
}

th, td, tr {
    padding: 10px;
    border: 1px solid black;
}

