.container {
  width: 1400px;
  margin: auto;
}

.header {
  background-color: black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  font-weight: 800;
}

.home-button {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  margin: 30px;
}

.home-button:hover {
  cursor: pointer;
}

.lang {
  color: black;
  margin: 30px;
  font-size: 20px;
}

.lang:hover {
  cursor: pointer;
}
